# Node modules
node_modules/

# TypeScript build output
dist/
build/
out/

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos de configuração do editor
.vscode/
.idea/

# Arquivos do TypeScript
*.tsbuildinfo
